<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yshyerp.vehicle.mapper.VehiPlanMapper">
    <resultMap id="BaseResultMap" type="com.yshyerp.vehicle.entity.VehiPlan1">

        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="d" jdbcType="CHAR" property="d"/>
        <result column="plan_type" jdbcType="CHAR" property="planType"/>
        <result column="plan_no" jdbcType="CHAR" property="planNo"/>
        <result column="billid" jdbcType="INTEGER" property="billid"/>
        <result column="contract_i" jdbcType="CHAR" property="contractI"/>
        <result column="vehicle" jdbcType="CHAR" property="vehicle"/>
        <result column="vehicle1" jdbcType="CHAR" property="vehicle1"/>
        <result column="vehi_v" jdbcType="DECIMAL" property="vehiV"/>
        <result column="vehi_w" jdbcType="DECIMAL" property="vehiW"/>
        <result column="vehi_w1" jdbcType="DECIMAL" property="vehiW1"/>
        <result column="vehi_w2" jdbcType="DECIMAL" property="vehiW2"/>
        <result column="vehi_w3" jdbcType="DECIMAL" property="vehiW3"/>
        <result column="c_no" jdbcType="CHAR" property="cNo"/>
        <result column="idno" jdbcType="CHAR" property="idno"/>
        <result column="r_date" jdbcType="TIMESTAMP" property="rDate"/>
        <result column="d_date" jdbcType="TIMESTAMP" property="dDate"/>
        <result column="v_date" jdbcType="DECIMAL" property="vDate"/>
        <result column="original" jdbcType="BIT" property="original"/>
        <result column="bdo" jdbcType="BIT" property="bdo"/>
        <result column="faxno" jdbcType="CHAR" property="faxno"/>
        <result column="t_customer" jdbcType="CHAR" property="tCustomer"/>
        <result column="c_customer" jdbcType="CHAR" property="cCustomer"/>
        <result column="s_customer" jdbcType="CHAR" property="sCustomer"/>
        <result column="commodity" jdbcType="CHAR" property="commodity"/>
        <result column="commodity1" jdbcType="CHAR" property="commodity1"/>
        <result column="tank" jdbcType="CHAR" property="tank"/>
        <result column="crr_no" jdbcType="CHAR" property="crrNo"/>
        <result column="do_no" jdbcType="CHAR" property="doNo"/>
        <result column="quantity" jdbcType="DECIMAL" property="quantity"/>
        <result column="remarks" jdbcType="CHAR" property="remarks"/>
        <result column="delivered" jdbcType="CHAR" property="delivered"/>
        <result column="tno1" jdbcType="CHAR" property="tno1"/>
        <result column="no1" jdbcType="CHAR" property="no1"/>
        <result column="drums" jdbcType="DECIMAL" property="drums"/>
        <result column="packing" jdbcType="DECIMAL" property="packing"/>
        <result column="netweight" jdbcType="DECIMAL" property="netweight"/>
        <result column="new" jdbcType="CHAR" property="cnew"/>
        <result column="color" jdbcType="CHAR" property="color"/>
        <result column="tare" jdbcType="DECIMAL" property="tare"/>
        <result column="cover" jdbcType="BIT" property="cover"/>
        <result column="batch" jdbcType="CHAR" property="batch"/>
        <result column="come" jdbcType="CHAR" property="come"/>
        <result column="slop" jdbcType="BIT" property="slop"/>
        <result column="type" jdbcType="CHAR" property="type"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="code" jdbcType="CHAR" property="code"/>
        <result column="p_bar" jdbcType="BIT" property="pBar"/>
        <result column="state" jdbcType="CHAR" property="state"/>
        <result column="jobno" jdbcType="CHAR" property="jobno"/>
        <result column="typea" jdbcType="CHAR" property="typea"/>
    </resultMap>
    <insert id="insert" parameterType="com.yshyerp.vehicle.entity.VehiPlan1">
        insert into vehi_plan
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="planNo != null" >
                plan_no,
            </if>
            <if test="tno1 != null" >
                tno1,
            </if>
            <if test="no1 != null" >
                no1,
            </if>
            <if test="vehicle != null" >
                vehicle,
            </if>
            <if test="vehicle1 != null" >
                vehicle1,
            </if>
            <if test="vehiW != null" >
                vehi_w,
            </if>
            <if test="vehiW2 != null" >
                vehi_w2,
            </if>
            <if test="vehiW3 != null" >
                vehi_w3,
            </if>
            <if test="tank != null" >
                tank,
            </if>
            <if test="tCustomer != null" >
                t_customer,
            </if>
            <if test="cCustomer != null" >
                c_customer,
            </if>
            <if test="crrNo != null" >
                crr_no,
            </if>
            <if test="doNo != null" >
                do_no,
            </if>
            <if test="bdo != null" >
                bdo,
            </if>
            <if test="commodity != null" >
                commodity,
            </if>
            <if test="commodity1 != null" >
                commodity1,
            </if>
            <if test="rDate != null" >
                r_date,
            </if>
            <if test="dDate != null" >
                d_date,
            </if>
            <if test="vDate != null" >
                v_date,
            </if>
            <if test="delivered != null" >
                delivered,
            </if>
            <if test="drums != null" >
                drums,
            </if>
            <if test="packing != null" >
                packing,
            </if>
            <if test="netweight != null" >
                netweight,
            </if>
            <if test="idno != null" >
                idno,
            </if>
            <if test="original != null" >
                original,
            </if>
            <if test="faxno != null" >
                faxno,
            </if>
            <if test="tare != null" >
                tare,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="cover != null" >
                cover,
            </if>
            <if test="status != null" >
                status,
            </if>

            <if test="sCustomer != null" >
                s_customer,
            </if>
            <if test="cnew != null" >
                new,
            </if>
            <if test="color != null" >
                color,
            </if>
            <if test="batch != null" >
                batch,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="slop != null" >
                slop,
            </if>
            <if test="remarks != null" >
                remarks,
            </if>
            <if test="planType != null" >
                plan_type,
            </if>
            <if test="contractI != null" >
                contract_i,
            </if>
            <if test="billid != null" >
                billid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="planNo != null" >
                #{planNo,jdbcType=CHAR},
            </if>
            <if test="tno1 != null" >
                #{tno1,jdbcType=CHAR},
            </if>
            <if test="no1 != null" >
                #{no1,jdbcType=CHAR},
            </if>
            <if test="vehicle != null" >
                #{vehicle,jdbcType=CHAR},
            </if>
            <if test="vehicle1 != null" >
                #{vehicle1,jdbcType=CHAR},
            </if>
            <if test="vehiW != null" >
                #{vehiW,jdbcType=DECIMAL},
            </if>
            <if test="vehiW2 != null" >
                #{vehiW2,jdbcType=DECIMAL},
            </if>
            <if test="vehiW3 != null" >
                #{vehiW3,jdbcType=DECIMAL},
            </if>
            <if test="tank != null" >
                #{tank,jdbcType=CHAR},
            </if>
            <if test="tCustomer != null" >
                #{tCustomer,jdbcType=CHAR},
            </if>
            <if test="cCustomer != null" >
                #{cCustomer,jdbcType=CHAR},
            </if>
            <if test="crrNo != null" >
                #{crrNo,jdbcType=CHAR},
            </if>
            <if test="doNo != null" >
                #{doNo,jdbcType=CHAR},
            </if>
            <if test="bdo != null">
                #{bdo,jdbcType=BIT},
            </if>
            <if test="commodity != null" >
                #{commodity,jdbcType=CHAR},
            </if>
            <if test="commodity1 != null" >
                #{commodity1,jdbcType=CHAR},
            </if>
            <if test="rDate != null" >
                #{rDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dDate != null" >
                #{dDate,jdbcType=TIMESTAMP},
            </if>
            <if test="vDate != null" >
                #{vDate,jdbcType=DECIMAL},
            </if>
            <if test="delivered != null" >
                #{delivered,jdbcType=CHAR},
            </if>
            <if test="drums != null" >
                #{drums,jdbcType=DECIMAL},
            </if>
            <if test="packing != null" >
                #{packing,jdbcType=DECIMAL},
            </if>
            <if test="netweight != null" >
                #{netweight,jdbcType=DECIMAL},
            </if>
            <if test="idno != null" >
                #{idno,jdbcType=CHAR},
            </if>
            <if test="original != null" >
                #{original,jdbcType=BIT},
            </if>
            <if test="faxno != null" >
                #{faxno,jdbcType=CHAR},
            </if>
            <if test="tare != null" >
                #{tare,jdbcType=DECIMAL},
            </if>
            <if test="state != null" >
                #{state,jdbcType=CHAR},
            </if>
            <if test="cover != null" >
                #{cover,jdbcType=BIT},
            </if>
            <if test="status != null" >
                #{status,jdbcType=CHAR},
            </if>
            <if test="sCustomer != null" >
                #{sCustomer,jdbcType=CHAR},
            </if>
            <if test="cnew != null" >
                #{cnew,jdbcType=CHAR},
            </if>
            <if test="color != null" >
                #{color,jdbcType=CHAR},
            </if>
            <if test="batch != null" >
                #{batch,jdbcType=CHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=CHAR},
            </if>
            <if test="slop != null" >
                #{slop,jdbcType=BIT},
            </if>
            <if test="remarks != null" >
                #{remarks,jdbcType=CHAR},
            </if>
            <if test="planType != null" >
                #{planType,jdbcType=CHAR},
            </if>
            <if test="contractI != null" >
                #{contractI,jdbcType=CHAR},
            </if>
            <if test="billid != null" >
                #{billid,jdbcType=INTEGER}
            </if>
        </trim>
  </insert>

    <insert id="insertSelective" parameterType="com.yshyerp.vehicle.entity.VehiPlan1">

        insert into vehi_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="d != null">
                d,
            </if>
            <if test="planType != null">
                plan_type,
            </if>
            <if test="planNo != null">
                plan_no,
            </if>
            <if test="billid != null">
                billid,
            </if>
            <if test="contractI != null">
                contract_i,
            </if>
            <if test="vehicle != null">
                vehicle,
            </if>
            <if test="vehicle1 != null">
                vehicle1,
            </if>
            <if test="vehiV != null">
                vehi_v,
            </if>
            <if test="vehiW != null">
                vehi_w,
            </if>
            <if test="vehiW1 != null">
                vehi_w1,
            </if>
            <if test="vehiW2 != null">
                vehi_w2,
            </if>
            <if test="vehiW3 != null">
                vehi_w3,
            </if>
            <if test="cNo != null">
                c_no,
            </if>
            <if test="idno != null">
                idno,
            </if>
            <if test="rDate != null">
                r_date,
            </if>
            <if test="dDate != null">
                d_date,
            </if>
            <if test="vDate != null">
                v_date,
            </if>
            <if test="original != null">
                original,
            </if>
            <if test="bdo != null">
                bdo,
            </if>
            <if test="faxno != null">
                faxno,
            </if>
            <if test="tCustomer != null">
                t_customer,
            </if>
            <if test="cCustomer != null">
                c_customer,
            </if>
            <if test="sCustomer != null">
                s_customer,
            </if>
            <if test="commodity != null">
                commodity,
            </if>
            <if test="commodity1 != null">
                commodity1,
            </if>
            <if test="tank != null">
                tank,
            </if>
            <if test="crrNo != null">
                crr_no,
            </if>
            <if test="doNo != null">
                do_no,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="delivered != null">
                delivered,
            </if>
            <if test="tno1 != null">
                tno1,
            </if>
            <if test="no1 != null">
                no1,
            </if>
            <if test="drums != null">
                drums,
            </if>
            <if test="packing != null">
                packing,
            </if>
            <if test="netweight != null">
                netweight,
            </if>
            <if test="cnew != null">
                new,
            </if>
            <if test="color != null">
                color,
            </if>
            <if test="tare != null">
                tare,
            </if>
            <if test="cover != null">
                cover,
            </if>
            <if test="batch != null">
                batch,
            </if>
            <if test="come != null">
                come,
            </if>
            <if test="slop != null">
                slop,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="pBar != null">
                p_bar,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="jobno != null">
                jobno,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="d != null">
                #{d,jdbcType=CHAR},
            </if>
            <if test="planType != null">
                #{planType,jdbcType=CHAR},
            </if>
            <if test="planNo != null">
                #{planNo,jdbcType=CHAR},
            </if>
            <if test="billid != null">
                #{billid,jdbcType=INTEGER},
            </if>
            <if test="contractI != null">
                #{contractI,jdbcType=CHAR},
            </if>
            <if test="vehicle != null">
                #{vehicle,jdbcType=CHAR},
            </if>
            <if test="vehicle1 != null">
                #{vehicle1,jdbcType=CHAR},
            </if>
            <if test="vehiV != null">
                #{vehiV,jdbcType=DECIMAL},
            </if>
            <if test="vehiW != null">
                #{vehiW,jdbcType=DECIMAL},
            </if>
            <if test="vehiW1 != null">
                #{vehiW1,jdbcType=DECIMAL},
            </if>
            <if test="vehiW2 != null">
                #{vehiW2,jdbcType=DECIMAL},
            </if>
            <if test="vehiW3 != null">
                #{vehiW3,jdbcType=DECIMAL},
            </if>
            <if test="cNo != null">
                #{cNo,jdbcType=CHAR},
            </if>
            <if test="idno != null">
                #{idno,jdbcType=CHAR},
            </if>
            <if test="rDate != null">
                #{rDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dDate != null">
                #{dDate,jdbcType=TIMESTAMP},
            </if>
            <if test="vDate != null">
                #{vDate,jdbcType=DECIMAL},
            </if>
            <if test="original != null">
                #{original,jdbcType=BIT},
            </if>
            <if test="bdo != null">
                #{bdo,jdbcType=BIT},
            </if>
            <if test="faxno != null">
                #{faxno,jdbcType=CHAR},
            </if>
            <if test="tCustomer != null">
                #{tCustomer,jdbcType=CHAR},
            </if>
            <if test="cCustomer != null">
                #{cCustomer,jdbcType=CHAR},
            </if>
            <if test="sCustomer != null">
                #{sCustomer,jdbcType=CHAR},
            </if>
            <if test="commodity != null">
                #{commodity,jdbcType=CHAR},
            </if>
            <if test="commodity1 != null">
                #{commodity1,jdbcType=CHAR},
            </if>
            <if test="tank != null">
                #{tank,jdbcType=CHAR},
            </if>
            <if test="crrNo != null">
                #{crrNo,jdbcType=CHAR},
            </if>
            <if test="doNo != null">
                #{doNo,jdbcType=CHAR},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=DECIMAL},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=CHAR},
            </if>
            <if test="delivered != null">
                #{delivered,jdbcType=CHAR},
            </if>
            <if test="tno1 != null">
                #{tno1,jdbcType=CHAR},
            </if>
            <if test="no1 != null">
                #{no1,jdbcType=CHAR},
            </if>
            <if test="drums != null">
                #{drums,jdbcType=DECIMAL},
            </if>
            <if test="packing != null">
                #{packing,jdbcType=DECIMAL},
            </if>
            <if test="netweight != null">
                #{netweight,jdbcType=DECIMAL},
            </if>
            <if test="cnew !=null">
               #{cnew,jdbcType=CHAR},
            </if>
            <if test="color != null">
                #{color,jdbcType=CHAR},
            </if>
            <if test="tare != null">
                #{tare,jdbcType=DECIMAL},
            </if>
            <if test="cover != null">
                #{cover,jdbcType=BIT},
            </if>
            <if test="batch != null">
                #{batch,jdbcType=CHAR},
            </if>
            <if test="come != null">
                #{come,jdbcType=CHAR},
            </if>
            <if test="slop != null">
                #{slop,jdbcType=BIT},
            </if>
            <if test="type != null">
                #{type,jdbcType=CHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=CHAR},
            </if>
            <if test="pBar != null">
                #{pBar,jdbcType=BIT},
            </if>
            <if test="state != null">
                #{state,jdbcType=CHAR},
            </if>
            <if test="jobno != null">
                #{jobno,jdbcType=CHAR}
            </if>
        </trim>
    </insert>


    <update id="updVehiPlan1" parameterType="com.yshyerp.vehicle.entity.VehiPlan1">
        update vehi_plan set
            idno=#{idno},
            d_date=#{dDate},
            v_date=#{vDate},
            vehicle=#{vehicle},
            vehi_w2=#{vehiW2},
            vehicle1=#{vehicle1},
            vehi_w=#{vehiW},
            vehi_w3=#{vehiW3},
            c_customer=#{cCustomer},
            s_customer=#{sCustomer},
            come=#{come},
            drums=#{drums},
            color=#{color},
            tare=#{tare},
            new=#{cnew},
            original=#{original},
            contract_i=#{contractI},
            faxno=#{faxno},
            remarks=#{remarks}
        where (d IS NULL or d = '')
            and plan_no = #{planNo}
    </update>
    <!--通过主键修改数据-->
    <update id="update"  parameterType="com.yshyerp.vehicle.entity.VehiPlan1">
        update vehi_plan
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="d != null and d != ''">
                d = #{d},
            </if>
            <if test="planType != null and planType != ''">
                plan_type = #{planType},
            </if>
            <if test="planNo != null and planNo != ''">
                plan_no = #{planNo},
            </if>
            <if test="billid != null">
                billid = #{billid},
            </if>
            <if test="contractI != null and contractI != ''">
                contract_i = #{contractI},
            </if>
            <if test="vehicle != null and vehicle != ''">
                vehicle = #{vehicle},
            </if>
            <if test="vehicle1 != null and vehicle1 != ''">
                vehicle1 = #{vehicle1},
            </if>
            <if test="vehiV != null">
                vehi_v = #{vehiV},
            </if>
            <if test="vehiW != null">
                vehi_w = #{vehiW},
            </if>
            <if test="vehiW1 != null">
                vehi_w1 = #{vehiW1},
            </if>
            <if test="vehiW2 != null">
                vehi_w2 = #{vehiW2},
            </if>
            <if test="vehiW3 != null">
                vehi_w3 = #{vehiW3},
            </if>
            <if test="cNo != null and cNo != ''">
                c_no = #{cNo},
            </if>
            <if test="idno != null and idno != ''">
                idno = #{idno},
            </if>
            <if test="rDate != null">
                r_date = #{rDate},
            </if>
            <if test="dDate != null">
                d_date = #{dDate},
            </if>
            <if test="vDate != null">
                v_date = #{vDate},
            </if>
            <if test="original != null">
                original = #{original},
            </if>
            <if test="bdo != null">
                bdo = #{bdo},
            </if>
            <if test="faxno != null and faxno != ''">
                faxno = #{faxno},
            </if>
            <if test="tCustomer != null and tCustomer != ''">
                t_customer = #{tCustomer},
            </if>
            <if test="cCustomer != null and cCustomer != ''">
                c_customer = #{cCustomer},
            </if>
            <if test="sCustomer != null and sCustomer != ''">
                s_customer = #{sCustomer},
            </if>
            <if test="commodity != null and commodity != ''">
                commodity = #{commodity},
            </if>
            <if test="commodity1 != null and commodity1 != ''">
                commodity1 = #{commodity1},
            </if>
            <if test="tank != null and tank != ''">
                tank = #{tank},
            </if>
            <if test="crrNo != null and crrNo != ''">
                crr_no = #{crrNo},
            </if>
            <if test="doNo != null and doNo != ''">
                do_no = #{doNo},
            </if>
            <if test="quantity != null">
                quantity = #{quantity},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks},
            </if>
            <if test="delivered != null and delivered != ''">
                delivered = #{delivered},
            </if>
            <if test="tno1 != null and tno1 != ''">
                tno1 = #{tno1},
            </if>
            <if test="no1 != null and no1 != ''">
                no1 = #{no1},
            </if>
            <if test="drums != null">
                drums = #{drums},
            </if>
            <if test="packing != null">
                packing = #{packing},
            </if>
            <if test="netweight != null">
                netweight = #{netweight},
            </if>
            <if test="new != null and new != ''">
                new = #{new},
            </if>
            <if test="color != null and color != ''">
                color = #{color},
            </if>
            <if test="tare != null">
                tare = #{tare},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
            <if test="batch != null and batch != ''">
                batch = #{batch},
            </if>
            <if test="come != null and come != ''">
                come = #{come},
            </if>
            <if test="slop != null">
                slop = #{slop},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
            <if test="pBar != null">
                p_bar = #{pBar},
            </if>
            <if test="state != null and state != ''">
                state = #{state},
            </if>
            <if test="jobno != null and jobno != ''">
                jobno = #{jobno},
            </if>
        </set>
        where  plan_no = #{planNo}
    </update>

    <select id="list"   parameterType="map" resultMap="BaseResultMap">
    select
   *
    from vehi_plan where 0=0
        <if test="typea == 1">
            and ISNULL(jobno,' ')=' '
        </if>
        <if test="typea == 2">
           and ISNULL(jobno,' ') !=' '
        </if>
        <if test="planType != null and planType != ''">
           and  plan_type=#{planType}
        </if>
        and   (d IS NULL or d = '')
          order by id
  </select>


    <select id="thjhcx" parameterType="com.yshyerp.vehicle.entity.VehiPlan1" resultMap="BaseResultMap">

        SELECT *  from vehi_plan where plan_type='DRA' and
        DateDiff(dd,d_date,getdate())<![CDATA[<]]>v_date and ISNULL(d,' ')=' '
        and LEN(jobno)<![CDATA[<>]]>6 and plan_no not in (select plan_no from e_drumtmp where
        0=0 and
        ISNULL(d,' ')=' ')
        <if test="planNo != null and planNo != ''">
            and   plan_no=#{planNo}
        </if>
    </select>



    <select id="thjhcxddc" parameterType="com.yshyerp.vehicle.entity.VehiPlan1" resultMap="BaseResultMap">

        SELECT *  from vehi_plan where plan_type='DDC' and
        DateDiff(dd,d_date,getdate())<![CDATA[<]]>v_date and ISNULL(d,' ')=' '
        and LEN(jobno)<![CDATA[<>]]>6 and plan_no not in (select plan_no from drumtmp where
        0=0 and
        ISNULL(d,' ')=' ')
        <if test="planNo != null and planNo != ''">
            and   plan_no=#{planNo}
        </if>
    </select>




    <select id="thjh" parameterType="com.yshyerp.vehicle.entity.VehiPlan1" resultMap="BaseResultMap">
       SELECT *  from vehi_plan where 0=0

        <if test="planNo != null and planNo != ''">
         and   plan_no=#{planNo}
        </if>
        and plan_type='DRA' and ISNULL(d,' ')=' '  order by id


    </select>





    <select id="queryplanNoByDoNo" parameterType="String" resultMap="BaseResultMap">
      SELECT *  from vehi_plan where (d IS NULL or d = '') AND   plan_no=#{planNo}
      order by id
    </select>

    <update id="updVehiplanId" parameterType="com.yshyerp.vehicle.entity.VehiPlan1">
        update vehi_plan set
             d='D'
        where
           plan_no = #{planNo}
    </update>

    <update id="updplanNo" parameterType="com.yshyerp.vehicle.entity.VehiPlan1">
    update vehi_plan set jobno='' where plan_no=#{planNo} and plan_type='DRA' and  ISNULL(d,' ')=' '
</update>

    <update id="updjobno" parameterType="map">
    update vehi_plan set jobno=#{jobno} where plan_no=#{planNo} and plan_type='DRA' and  ISNULL(d,' ')=' '
</update>





</mapper>